body {
  background: linear-gradient(180deg, #121212, #000);
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  text-align: center;
}

/* HEADER */
header {
  padding: 25px 15px 10px;
}

h1 {
  font-size: 30px;
  margin: 0;
}

h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  color: #b3b3b3;
}

/* MENU */
.menu {
  display: flex;
  justify-content: center;
  gap: 12px;
  padding: 15px;
  flex-wrap: wrap;
}

.menu a {
  text-decoration: none;
  color: white;
  background: rgba(255, 255, 255, 0.08);
  padding: 10px 14px;
  border-radius: 12px;
  transition: 0.3s;
}

.menu a:hover {
  background: rgba(255, 255, 255, 0.18);
}

/* SEÇÕES */
section {
  margin: 20px 10px;
  background: rgba(0, 0, 0, 0.35);
  padding: 15px;
  border-radius: 18px;
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.08);
}

/* GALERIA */
.galeria {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
}

.galeria img,
.galeria video {
  width: 100%;
  aspect-ratio: 9 / 16;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);
  transition: transform 0.3s ease;
}

.galeria img:hover,
.galeria video:hover {
  transform: scale(1.03);
}

/* TELA CHEIA */
.tela-cheia {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.95);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.tela-cheia img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#fechar {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 32px;
  color: white;
  cursor: pointer;
  z-index: 10000;
}

/* PLAYLIST */
.playlist {
  padding: 20px;
}

.playlist h2 {
  color: #1DB954;
  text-align: center;
}

/* CARD DE MÚSICA */
.card-musica {
  background: #181818;
  padding: 15px;
  margin: 18px 0;
  border-radius: 18px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  transition: 0.3s;
}

.card-musica:hover {
  background: #282828;
  transform: scale(1.02);
}

.card-musica h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

/* VÍDEO MAIOR */
.card-musica iframe {
  width: 100%;
  height: 240px;
  border-radius: 12px;
}

/* FOOTER */
footer {
  padding: 20px;
  font-size: 14px;
}